@model Album
@{
    ViewData["Title"] = "Delete";
}
<h2>Delete album</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="AlbumId" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Song.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Song.Name)
        </dd>
    </dl>
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </form>
</div>