@model IEnumerable<Album>
@{
    ViewData["Title"] = "Albums list";
}
<h3>Albums list</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">AlbumId</th>
            <th scope="col">Name</th>
            <th scope="col">ReleaseDate</th>
            <th scope="col">Song</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var album in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => album.AlbumId)</td>
            <td>@Html.DisplayFor(modelItem => album.Name)</td>
            <td>@Html.DisplayFor(modelItem => album.ReleaseDate)</td>
            <td>@Html.DisplayFor(modelItem => album.Song.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = album.AlbumId })
                @Html.ActionLink("Delete", "Delete", new { id = album.AlbumId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create album", "Create", "Albums", null, new { @class = "btn btn-outline-primary" })
</p>