@model IEnumerable<Performer>
@{
    ViewData["Title"] = "Performers list";
}
<h3>Performers list</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var performer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => performer.PerformerId)
                </td>
                <td>
                    @Html.DisplayFor(model => performer.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Performers", new { id = performer.PerformerId })
                    @Html.ActionLink("Delete", "Delete", "Performers", new { id = performer.PerformerId })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Create performer", "Create", "Performers", null, new { @class = "btn btn-outline-primary" })
</p>


