@model IEnumerable<SongViewModel>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}
<h3>@Localizer["Header"]</h3>
<p>
    @Html.ActionLink(Localizer["Create song"].Value, "Create", "Home", null,
        new { @class = "btn btn-outline-primary" })
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="form-group">
            <label class="col-md-4 control-label">@Localizer["FilterName"]</label>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]"
                   class="form-control col-6" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Search"]" class="btn btn-outline-primary" />
            <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["BackToFullList"]</a>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">@Localizer["Name"]</th>
            <th scope="col">@Localizer["Genre"]</th>
            <th scope="col">@Localizer["Performer"]</th>
            <th scope="col">@Localizer["Album"]</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var song in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => song.SongId)</td>
            <td>@Html.DisplayFor(modelItem => song.Name)</td>
            <td>@Html.DisplayFor(modelItem => song.GenreName)</td>
            <td>@Html.DisplayFor(modelItem => song.PerformerName)</td>
            <td>@Html.DisplayFor(modelItem => song.AlbumName)</td>

            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = song.SongId })
                    @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { id = song.SongId })
                </td>
            }
            else 
            {
                <td></td>
            }
        </tr>
    }
</table>
