@model IEnumerable<GenreViewModel>
@{
    ViewData["Title"] = Localizer["Title"];
}
<h3>@Localizer["Header"]</h3>
<p>
    @Html.ActionLink(Localizer["Create genre"].Value, "Create", "Genres", null, new { @class = "btn btn-outline-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">@Localizer["Name"]</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => genre.Name)</td>
            <td>
                @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = genre.GenreId })
                @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { id = genre.GenreId })
            </td>
        </tr>
    }
</table>