@model IEnumerable<PerformerViewModel>
@{
    ViewData["Title"] = Localizer["Title"];
}
<h3>@Localizer["Header"]</h3>
<p>
    @Html.ActionLink(Localizer["Create performer"].Value, "Create", "Performers", null,
        new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">@Localizer["Name"]</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var performer in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => performer.Name)</td>
            <td class="text-center">
                @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = performer.PerformerId }, 
                    new { @class = "btn btn-outline-primary" })
                @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { id = performer.PerformerId },
                    new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
</table>