<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a asp-controller="ManageAccounts" asp-action="Index" class="nav-link text-dark">@Localizer["Accounts"]</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark">@Localizer["Message"] @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Accounts" asp-action="Logout" class="nav-link btn btn-link text-dark">@Localizer["Logout"]</a>
        </li>
    }
    else
    {
        <li class="nav-item mr-2">
            <a asp-controller="Accounts" asp-action="Register" class="btn btn-outline-primary">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Accounts" asp-action="Login" class="btn btn-primary">@Localizer["Login"]</a>
        </li>
    }
</ul>
